@model IEnumerable<Book_Managemant.Models.Category>



<div class="  bg-black  bg-opacity-50">

    <table class="table ">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CategoryID }, new { @class = "btn3 text-white btn-primary " })  |
                    @Html.ActionLink("Details", "Details", new { id = item.CategoryID }, new { @class = "btn4 text-white btn-primary " }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID }, new { @class = "btn5 text-white btn-primary " })
                </td>
            </tr>
        }

    </table>
    </div>
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn6 fw-bold" })
    </p>
    <a href="https://localhost:44370/Publishers/Create" class="btn1 but px-4 py-2 fw-bold fs-5">Next</a>
