@model IEnumerable<Book_Managemant.Models.Search>




<div class="  bg-black  bg-opacity-50">
    <p>
        @using (Html.BeginForm("Index", "Searches", FormMethod.Get))
        {
            <h2 class="text-white">Search By</h2>
            <div class="text-white ">
                @Html.RadioButton("searchBy", "Name", true)<text>Name</text>
                @Html.RadioButton("searchBy", "CategoryName", false)<text>CategoryName</text>
                @Html.TextBox("search", "", htmlAttributes: new { @class = "w-50 form-control" })
            </div>
            <br />

            <br />
            <input type="submit" value="Search" class="btn btn bg-success text-white" />
        }
    </p>

    <table class="table table-striped text-white text-center align-items-center" border="1">
        <tr class="text-white text-center align-items-center">
            <th class="text-white fw-bold">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Author.Name)
            </th>
            <th class="text-white fw-bold">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Category.CategoryName)
            </th>
            <th class="text-white fw-bold">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Publisher.PublisherName)
            </th>
            <th></th>
        </tr>
        @if (Model.Count() == 0)
        {


            <tr>
                <td colspan="3">No Data Found</td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Publisher.PublisherName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.BookNum }, new { @class = "btn3 text-white " })  |
                        @Html.ActionLink("Details", "Details", new { id = item.BookNum }, new { @class = "btn4 text-white " }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.BookNum }, new { @class = "btn5 text-white " })
                    </td>
                </tr>
            }
        }
    </table>
    </div>
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn6 fw-bold" })
    </p>
